In [1]:
# Importing libraries for Web-Scrapping :
# =================================================================================================
from bs4 import BeautifulSoup as s
from urllib.request import urlopen as u

In [5]:
# Sending link request and fetching it :
# =================================================================================================
link="https://www.flipkart.com/search?q=samsung+mobiles&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=samsung+mobiles%7CMobiles&requestId=b3fb394f-3d85-41d0-8a5f-a3fd303b9064&as-searchtext=sa"
pagecontent=u(link)
pagecode=pagecontent.read()

In [6]:
# Defining a readme page :
# =================================================================================================
page_file=s(pagecode)

In [8]:
#Accessing the Product Name
product_name=[]
modelname=page_file.findAll("div",{"class":'_4rR01T'})
for i in modelname:
    p=i.text
    product_name.append(p)

In [10]:
# Printing it :
# =================================================================================================
print(product_name)
len(product_name)

['SAMSUNG Galaxy F22 (Denim Blue, 128 GB)', 'SAMSUNG Galaxy F12 (Sky Blue, 64 GB)', 'SAMSUNG Galaxy F12 (Celestial Black, 64 GB)', 'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)', 'SAMSUNG Galaxy F12 (Sea Green, 64 GB)', 'SAMSUNG Galaxy F22 (Denim Black, 64 GB)', 'SAMSUNG Galaxy F12 (Sky Blue, 128 GB)', 'SAMSUNG M32 5G (Slate Black, 128 GB)', 'SAMSUNG Galaxy F12 (Sea Green, 128 GB)', 'SAMSUNG Galaxy M32 5G (Sky Blue, 128 GB)', 'SAMSUNG Galaxy M12 (White, 128 GB)', 'SAMSUNG Galaxy M11 (Black, 64 GB)', 'SAMSUNG Galaxy A70s (Prism Crush White, 128 GB)', 'SAMSUNG Galaxy A03 Core (Black, 32 GB)', 'SAMSUNG Galaxy M32 (Light Blue, 128 GB)', 'SAMSUNG Galaxy A03 Core (Blue, 32 GB)', 'SAMSUNG M21 2021 Edition (Charcoal Black, 64 GB)', 'SAMSUNG Galaxy M32 (Black, 128 GB)', 'SAMSUNG Galaxy A52s 5G (Awesome Mint, 128 GB)', 'SAMSUNG Galaxy M32 (Black, 64 GB)', 'SAMSUNG Galaxy M32 (Light Blue, 64 GB)', 'SAMSUNG Galaxy A22 5G (Mint, 128 GB)', 'SAMSUNG Metro 313 Dual Sim', 'SAMSUNG Galaxy M12 (White, 64 GB)']

24

In [11]:
# Accessing Rating of the Products :
# =================================================================================================
rating=[]
ratingname=page_file.findAll("div",{"class":'_3LWZlK'})
for i in ratingname:
    p=i.text
    rating.append(p)

In [12]:
# Prinitng it :
# =================================================================================================
print(rating)
len(rating)

['4.3', '4.2', '4.2', '4.3', '4.2', '4.3', '4.2', '4.2', '4.2', '4.2', '4.2', '4.2', '4.4', '4.4', '4.3', '4.4', '4.2', '4.3', '4.3', '4.2', '4.2', '4.1', '4.3', '4.2', '4.2', '1', '5', '4.3', '5', '5', '4.1', '1', '5', '4.3', '5', '5', '4.2', '5', '1']

39

In [13]:
# Deleting the extra values :
# =================================================================================================
del rating[-16:-1]
len(rating)

24

In [14]:
# Accessing Original Price of the Products :
# =================================================================================================
original_price=[]
pr=page_file.findAll("div",{"class":'_3I9_wc _27UcVY'})
for i in pr:
    p=i.text
    original_price.append(int(p[1:].replace(',','')))

In [16]:
# Printing it :
# =================================================================================================
print(original_price)
type(original_price)
len(original_price)

[16999, 12999, 12999, 14999, 12999, 14999, 13999, 20200, 13999, 22584, 14170, 11300, 33100, 10499, 18150, 10499, 18200, 32990, 15980, 16250, 23999, 12900]

22

In [17]:
# Entering some values manually where there is no discount on the Products :
# =================================================================================================
original_price.insert(16,13490)
original_price.insert(22,2499)

In [18]:
# Printing it :
# =================================================================================================
print(original_price)
type(original_price)
len(original_price)

[16999, 12999, 12999, 14999, 12999, 14999, 13999, 20200, 13999, 22584, 14170, 11300, 33100, 10499, 18150, 10499, 13490, 18200, 32990, 15980, 16250, 23999, 2499, 12900]

24

In [19]:
# Accessing Price of the Products :
# =================================================================================================
price=[]
pr=page_file.findAll("div",{"class":'_30jeq3 _1_WHN1'})
for i in pr:
    p=i.text
    price.append(int(p[1:].replace(',','')))

In [20]:
# Printing it:
# =================================================================================================
print(price)
type(price)
len(price)

[14999, 11499, 11499, 12999, 11499, 12999, 12499, 19000, 12499, 21189, 13871, 11159, 19999, 7999, 17799, 7999, 13490, 17708, 32849, 15148, 15199, 21999, 2499, 11244]

24

In [21]:
# Accessing Delivery Type of the Products :
# =================================================================================================
delivery=[]
pr=page_file.findAll("div",{"class":'_3tcB5a p8ucoS'})
for i in pr:
    p=i.text
    delivery.append(p)

In [22]:
# Printing it :
# =================================================================================================
print(delivery)
type(delivery)
len(delivery)

['Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery', 'Free delivery']

24

In [23]:
# Accessing Discount of the Products :
# =================================================================================================
discount=[]
pr=page_file.findAll("div",{"class":'_3Ay6Sb'})
for i in pr:
    p=i.text
    discount.append(p)

In [25]:
#Printing it :
# =================================================================================================
print(discount)
len(discount)

['11% off', '11% off', '11% off', '13% off', '11% off', '13% off', '10% off', '5% off', '10% off', '6% off', '2% off', '1% off', '39% off', '23% off', '1% off', '23% off', '2% off', '5% off', '6% off', '8% off', '12% off', '6% off', '8% off', '12% off']

24

In [26]:
# Entering some values manually where there is no discount on the Products :
# =================================================================================================
discount.insert(16,"0% off")
discount.insert(18,"0% off")
discount.insert(22,"0% off")

In [27]:
# Prinitng it :
# =================================================================================================
print(discount)
type(discount)
len(discount)

['11% off', '11% off', '11% off', '13% off', '11% off', '13% off', '10% off', '5% off', '10% off', '6% off', '2% off', '1% off', '39% off', '23% off', '1% off', '23% off', '0% off', '2% off', '0% off', '5% off', '6% off', '8% off', '0% off', '12% off', '6% off', '8% off', '12% off']

27

In [28]:
# Deleting the extra values :
# =================================================================================================
del discount[-4:-1]
len(discount)

24

In [29]:
# Calculating the discount price of the Products:
# =================================================================================================
discount_price=[]
for i in range(len(original_price)):
    p=original_price[i]-price[i]
    discount_price.append(p)
discount_price

[2000,
 1500,
 1500,
 2000,
 1500,
 2000,
 1500,
 1200,
 1500,
 1395,
 299,
 141,
 13101,
 2500,
 351,
 2500,
 0,
 492,
 141,
 832,
 1051,
 2000,
 0,
 1656]

In [30]:
# Printing it :
# =================================================================================================
print(discount_price)
type(discount_price)
len(discount_price)

[2000, 1500, 1500, 2000, 1500, 2000, 1500, 1200, 1500, 1395, 299, 141, 13101, 2500, 351, 2500, 0, 492, 141, 832, 1051, 2000, 0, 1656]

24

In [31]:
# Checking the length of all Columns :
# =================================================================================================
len(product_name),len(rating),len(original_price),len(price),len(discount),len(delivery)

(24, 24, 24, 24, 24, 24)

In [32]:
# Importing library and Creating dataframe :
# =================================================================================================
import pandas as pd
d={'Product_Name2':product_name,'Rating2':rating,'Original_Price2':original_price,'Price2':price,'Discount(%)2':discount,'Discount_Price2':discount_price,'Delivery2':delivery}
data=pd.DataFrame(d)

In [33]:
data

,Product_Name2,Rating2,Original_Price2,Price2,Discount(%)2,Discount_Price2,Delivery2
0,"SAMSUNG Galaxy F22 (Denim Blue, 128 GB)",4.3,16999,14999,11% off,2000,Free delivery
1,"SAMSUNG Galaxy F12 (Sky Blue, 64 GB)",4.2,12999,11499,11% off,1500,Free delivery
2,"SAMSUNG Galaxy F12 (Celestial Black, 64 GB)",4.2,12999,11499,11% off,1500,Free delivery
3,"SAMSUNG Galaxy F22 (Denim Blue, 64 GB)",4.3,14999,12999,13% off,2000,Free delivery
4,"SAMSUNG Galaxy F12 (Sea Green, 64 GB)",4.2,12999,11499,11% off,1500,Free delivery
5,"SAMSUNG Galaxy F22 (Denim Black, 64 GB)",4.3,14999,12999,13% off,2000,Free delivery
6,"SAMSUNG Galaxy F12 (Sky Blue, 128 GB)",4.2,13999,12499,10% off,1500,Free delivery
7,"SAMSUNG M32 5G (Slate Black, 128 GB)",4.2,20200,19000,5% off,1200,Free delivery
8,"SAMSUNG Galaxy F12 (Sea Green, 128 GB)",4.2,13999,12499,10% off,1500,Free delivery
9,"SAMSUNG Galaxy M32 5G (Sky Blue, 128 GB)",4.2,22584,21189,6% off,1395,Free delivery
10,"SAMSUNG Galaxy M12 (White, 128 GB)",4.2,14170,13871,2% off,299,Free delivery
11,"SAMSUNG Galaxy M11 (Black, 64 GB)",4.2,11300,11159,1% off,141,Free delivery
12,"SAMSUNG Galaxy A70s (Prism Crush White, 128 GB)",4.4,33100,19999,39% off,13101,Free delivery
13,"SAMSUNG Galaxy A03 Core (Black, 32 GB)",4.4,10499,7999,23% off,2500,Free delivery
14,"SAMSUNG Galaxy M32 (Light Blue, 128 GB)",4.3,18150,17799,1% off,351,Free delivery
15,"SAMSUNG Galaxy A03 Core (Blue, 32 GB)",4.4,10499,7999,23% off,2500,Free delivery
16,"SAMSUNG M21 2021 Edition (Charcoal Black, 64 GB)",4.2,13490,13490,0% off,0,Free delivery
17,"SAMSUNG Galaxy M32 (Black, 128 GB)",4.3,18200,17708,2% off,492,Free delivery
18,"SAMSUNG Galaxy A52s 5G (Awesome Mint, 128 GB)",4.3,32990,32849,0% off,141,Free delivery
19,"SAMSUNG Galaxy M32 (Black, 64 GB)",4.2,15980,15148,5% off,832,Free delivery
20,"SAMSUNG Galaxy M32 (Light Blue, 64 GB)",4.2,16250,15199,6% off,1051,Free delivery
21,"SAMSUNG Galaxy A22 5G (Mint, 128 GB)",4.1,23999,21999,8% off,2000,Free delivery
22,SAMSUNG Metro 313 Dual Sim,4.3,2499,2499,0% off,0,Free delivery
23,"SAMSUNG Galaxy M12 (White, 64 GB)",1,12900,11244,12% off,1656,Free delivery

In [34]:
# Removing the last rows so as to keep only 10 records :
# =================================================================================================
data.drop(data.tail(13).index,inplace=True)
data

,Product_Name2,Rating2,Original_Price2,Price2,Discount(%)2,Discount_Price2,Delivery2
0,"SAMSUNG Galaxy F22 (Denim Blue, 128 GB)",4.3,16999,14999,11% off,2000,Free delivery
1,"SAMSUNG Galaxy F12 (Sky Blue, 64 GB)",4.2,12999,11499,11% off,1500,Free delivery
2,"SAMSUNG Galaxy F12 (Celestial Black, 64 GB)",4.2,12999,11499,11% off,1500,Free delivery
3,"SAMSUNG Galaxy F22 (Denim Blue, 64 GB)",4.3,14999,12999,13% off,2000,Free delivery
4,"SAMSUNG Galaxy F12 (Sea Green, 64 GB)",4.2,12999,11499,11% off,1500,Free delivery
5,"SAMSUNG Galaxy F22 (Denim Black, 64 GB)",4.3,14999,12999,13% off,2000,Free delivery
6,"SAMSUNG Galaxy F12 (Sky Blue, 128 GB)",4.2,13999,12499,10% off,1500,Free delivery
7,"SAMSUNG M32 5G (Slate Black, 128 GB)",4.2,20200,19000,5% off,1200,Free delivery
8,"SAMSUNG Galaxy F12 (Sea Green, 128 GB)",4.2,13999,12499,10% off,1500,Free delivery
9,"SAMSUNG Galaxy M32 5G (Sky Blue, 128 GB)",4.2,22584,21189,6% off,1395,Free delivery
10,"SAMSUNG Galaxy M12 (White, 128 GB)",4.2,14170,13871,2% off,299,Free delivery

In [35]:
# Converting the dataframe into Excel file
# =================================================================================================
data.to_excel("C:/Users/VidhyaDivya/OneDrive/Desktop/edubridge/Project/excel/flipkart_samsung.xlsx")

In [36]:
# The data is stored in the file mentioned.